@import "../scss/vars";

nav.nav {
  background-color: $primary;
  min-height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;

  .main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .search {
    width: 30rem;
    max-width: 80%;
    display: flex;
    align-items: center;
    position: relative;

    span {
      svg {
        height: 1.7rem;
        width: 1.7rem;
      }
      display: flex;
      align-items: center;
      color: $primary-dark;
      position: absolute;
      right: 0.5rem;
      border-radius: 50%;
      padding: 0.3rem;
      &:hover {
        background-color: rgba(0, 0, 0, 0.13);
      }
    }
    input {
      border-radius: 0.4rem;
      flex-grow: 1;
      padding: 0.8rem 0rem 0.8rem 2rem;
      font-size: 1.3rem;
      width: 100%;
      outline: none;
      background-color: rgb(195, 195, 236);
      border: none;
      color: $primary;

      &:focus {
        background-color: #fff;
      }
    }
    input::placeholder {
      color: $primary;
    }
  }
  .btns {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    padding: 1rem 0rem;
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);


    .reload,
    .sort {
      font-size: 1.1rem;
      background: rgba(255, 255, 255, 0.144);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.3rem;
      padding: 0.3rem 0.5rem;
      cursor: pointer;
      transition: background 0.1s ease-in-out;

      &:hover {
        background-color: rgba(255, 255, 255, 0.438);
      }
    }
    
    svg {
      height: 1.3rem;
      margin-left: 0.3rem;
    }
    p {
      transform: translateY(-.1rem);
    }
    .sort {
      position: relative;
      &:before,
      &:after,
      .dropdown {
        transition: opacity 0.3s ease-in-out;
      }
      &:hover::before,
      &:hover::after,
      &:hover .dropdown {
        visibility: visible;
        opacity: 1;
      }
      &::before {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        content: "";
        bottom: -1.7rem;
        left: -1.1rem;
        width: 150%;
        height: 1.7rem;
        backdrop-filter: blur(5px);
        z-index: 4;
      }
      &::after {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        content: "";
        bottom: -1.3rem;
        border-bottom: 1rem solid #6060fffd;
        border-left: 0.7rem solid transparent;
        border-right: 0.7rem solid transparent;
        backdrop-filter: blur(5px);
        z-index: 4;
      }
    }

    .dropdown {
    color: rgb(0, 0, 0);

      visibility: hidden;
      opacity: 0;
      background-color: #7070ff7e;
      backdrop-filter: blur(3px);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 3.4rem;
      display: flex;
      flex-direction: column;
      border-radius: 0.3rem;
      padding: 0.4rem 0rem;

      .sortby {
        border-bottom: 1px solid $primary;
        padding-bottom: .5rem;
        margin-bottom: .5rem;
      }
      .orderby,
      .sortby {
        display: flex;
        flex-direction: column;
        .option {
          display: flex;
          align-items: center;
          padding: .8rem 1rem;
          
          &:hover {
            background: rgba(255, 255, 255, 0.363);
          }
          .checkbox {
            margin-right: 0.4rem;
            border: 1px solid rgb(34, 34, 34);
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            position: relative;
          }
          &.active .checkbox::before {
            position: absolute;
            content: '';
            height: .5rem;
            width: .5rem;
            transform: translate(-50%, -50%);
            background: rgb(56, 56, 56);
            top: 50%;
            left: 50%;
            border-radius: 50%;
          }
          p {
            min-width: max-content;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  nav.nav {
    background-color: transparent;
    flex-direction: column;
    .main {
      background-color: $primary;
      padding: 1rem 0;
    }
    .btns {
      .reload, .sort {
        background-color: $primary;
        &:hover {
          background-color: $primary-dark;
        }
      }
    }
  }
}
