.alert {
  position: fixed;
  z-index: 50;
  background-color: #a9a9ff;
  bottom: 3rem;
  left: 3rem;
  padding: 0.7rem 0rem 0.7rem 1rem;
  min-width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: .5rem;
  overflow: hidden;
}

.alert::before {
  position: absolute;
  content: "";
  background: #7070ff;
  height: 0.2rem;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-animation: Alert 4.06s linear 1;
          animation: Alert 4.06s linear 1;
}

.alert .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alert .actions p {
  margin-right: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  color: black;
  padding: 0.2rem 0.8rem;
  border: 1px solid #000;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.alert .actions p:hover {
  background-color: black;
  color: #fff;
}

@-webkit-keyframes Alert {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes Alert {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
