@import "../scss/vars";

.alert {
  position: fixed;
  z-index: 50;
  background-color: $primary-light;
  bottom: 3rem;
  left: 5%;
  padding: 0.9rem 0rem 1rem 1rem;
  min-width: 20rem;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  justify-content: space-between;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;

  &::before {
    position: absolute;
    content: "";
    background: $primary-dark;
    height: 0.2rem;
    width: 100%;
    left: 0;
    bottom: 0;
    animation: Alert 4.06s linear 1 ;
  }

  .actions {
    display: flex;
    justify-content: center;
    p {
      margin-right: 1rem;
      border-radius: 0.4rem;
      cursor: pointer;
      color: rgb(74, 77, 255);
      padding: 0.2rem 0.8rem;
      transition: all 0.3s ease-in-out;
      font-weight: bold;
      font-family: sans-serif;
      &:hover {
        
      }
    }
  }
}

@keyframes Alert {
    0% {
        width: 100%
    }
    100% {
        width: 0%
    }
}