$bg-color: rgb(225, 225, 255);
$primary-light:  rgb(169, 169, 255);
$primary:  rgb(134, 134, 252);
$primary-dark:  rgb(112, 112, 255);

$text-light: #919191;
$text: #6d6d6d;
$text-dark: #0f0f0f;